
- if @blacklist.errors
  - message = @blacklist.errors.full_messages.join("\n")
  |
    alert("#{message}");
- else
  |
    alert('this should not happen');

|
  $('div#blacklist-modal').modal('hide');
