// Place all the styles related to the Blacklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.blacklists.index {
  tr.gray {
    background-color: #999999;
  }

  tr.black {
    background-color: #333333;
    color: #CCCCCC;
  }
}
