// Place all the styles related to the Recruiters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.recruiters.index {
  tr.graylisted {
    background-color: #999999;
  }

  tr.blacklisted {
    background-color: #333333;
    color: #CCCCCC;
  }
}

body.recruiters.show {
  div.recruiter-data {
  }

  div.score {
    h4.score {
      font-size: 40px;
      background-color: #CCCCCC;
      color: white;
      font-weight: bold;
      text-align:center;
      height: 80px; width: 80px;
      line-height: 80px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      display:inline-block;
    }

    h4.score.positive {
      background-color: #5CB85C;
    }

    h4.score.negative {
      background-color: #C9302C;
    }
  }

  div.actions {
    padding: 0;
    margin: 2em 0;

    a.btn,
    button.btn {
      margin: 0 1em 0 0;
    }
  }

  h2.graylisted {
    background-color: #999999;
    color: #333333;
    padding: 8px;
    margin: 0;
    font-weight: bold;
    text-align: center;
  }

  h2.blacklisted {
    background-color: #333333;
    color: #000000;
    padding: 8px;
    margin: 0;
    font-weight: bold;
    text-align: center;
  }
}

body.recruiters.edit {
  h3.modal-title {
    margin-bottom: 1em;
  }

  form.button_to {
    display: inline-block;
  }
}
