body {
  margin-top: 60px;
  position: relative;
}

footer {
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

table.table.table-striped {
  margin: 12px 0;
  border-bottom: 2px solid #ddd;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

div.actions {
  padding: 8px;
}
div.actions a.btn {
  margin-left: 1em;
}

label.horizontal {
  text-align: right;
  padding: 8px 4px;
}

/*
 * Datepicker
 */
div.datepicker { z-index: 1050 !important; }

/*
 * Index Tables
 */
table.table-striped td.no-records {
  text-align: center;
  font-weight: bold;
}
