= form_for @recruiter do |f|
  - if @recruiter.errors.any?
    #error_explanation
      h2 = "#{pluralize(@recruiter.errors.count, "error")} prohibited this recruiter from being saved:"
      ul
        - @recruiter.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :company
    = f.text_field :company
  .field
    = f.label :phone
    = f.text_field :phone
  .actions = f.submit
